@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300;500;600&family=Dancing+Script:wght@600;700&family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,500;1,600&display=swap');
body
{
    margin: 0;
    top: 0;
    font-family: 'Changa', sans-serif;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
:root
{
    --seagreen: rgb(16, 178, 211);
    --greenishBlue: #0ec6bd;
    --imgWidth: 250px;
    --imgHeight: 350px;

    --newWidth: 400px;
    --newHeight: 500px;
}
a, .btnUp
{
    text-decoration: none;
    text-transform: uppercase;
    color:var(--seagreen) ;
}
.info a 
{
    color: green;
}
a:hover
{
    cursor: pointer;
}
.header
{
    display: flex;
    justify-content: space-around;
    background-color: #333;

}
.logo
{
    font-size: 23px;
    margin: 10px;
}
span
{
    color:var(--seagreen);

}
.logo span
{
    font-size: 25px;
}

.backImg img
{
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.7;
    z-index: -1;
    width: 100%;
    height: 89vh;
}

.navigation
{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-content: center;
}
.navigation > div, .btnUp
{
    font-size: 20px;
    margin: 30px;
}
.btn:hover
{
    background: #000;
}
.logo
{
    font-size: 40px;
}

.h1
{
    font-size: 90px;
    font-weight: 500;
}
.h3
{
    font-size: 50px;
    font-weight: 200;
}
.starter
{
    margin: 100px 100px auto auto;  
    color: var(--seagreen);
    display: flex;
    flex-direction: column;
    width: 30%;
    font-size: 40px;
    font-weight: 500;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
    text-align: center;
    border-radius: 30px;
}

.info
{
    margin: 0 15px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.welcome
{
    display: flex;
    flex-wrap: wrap;
}
.container
{
    margin-top: 50px;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: var(--greenishBlue);
    
}

.info a
{
    z-index: 5;
}
.slider
{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    transition: .8s;
    margin-left: 1100px;
}

.slide
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
}

.img
{
    position: relative;
    width: var(--imgWidth);
    height: var(--imgHeight);
    transition: .8s;
    background-color: aliceblue;
}

.btn
{
    position: absolute;
    width: var(--imgWidth);
    height: var(--imgHeight);
    transition: .5s;
    opacity: 0.2;
    z-index: 2;
}


#span1:target ~ .slider #img1, 
#span1:target ~ .slider #btn1
{
    width: var(--newWidth);
    height: var(--newHeight);
}
#span2:target ~ .slider #img2, 
#span2:target ~ .slider #btn2
{
    width: var(--newWidth);
    height: var(--newHeight);

}
#span3:target ~ .slider #img3, 
#span3:target ~ .slider #btn3
{
    width: var(--newWidth);
    height: var(--newHeight);
}
#span4:target ~ .slider #img4, 
#span4:target ~ .slider #btn4
{
    width: var(--newWidth);
    height: var(--newHeight);
}
#span5:target ~ .slider #img5, 
#span5:target ~ .slider #btn5
{
    width: var(--newWidth);
    height: var(--newHeight);
}
#span6:target ~ .slider #img6, 
#span6:target ~ .slider #btn6
{
    width: var(--newWidth);
    height: var(--newHeight);
}
#span7:target ~ .slider #img7, 
#span7:target ~ .slider #btn7
{
    width: var(--newWidth);
    height: var(--newHeight);

}


#span1:target ~ .slider {left: -15%;}
#span2:target ~ .slider {left: -30%;}
#span3:target ~ .slider {left: -45%;}
#span4:target ~ .slider {left: -60%;}
#span5:target ~ .slider {left: -80%;}
#span6:target ~ .slider {left: -100%;}
#span7:target ~ .slider {left: -120%;}

#bgSlider
{
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    transition: 1.1s;

}
.pBgSlider
{
    width: 30%;
    margin-left: 15px;
}
.whenSliding
{
    width: 100%;
    opacity: 0.4;
}

.introLine
{
    font-family: 'Dancing Script', cursive;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 60px;
    position: relative;
    margin-top: 240px;
}

.footer
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    height: 200px;
    align-content: center;
}

.footerDiv
{
    display: flex;
    align-content: space-between;
    margin: 5px;
    flex-flow: column wrap;
    text-align: center;
}
.tags
{
    margin: 5px;
}
#heading
{
    font-weight: 500;
    font-size: 25px;
}

.itemsContainer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.category
{
    position: relative;
    top: 50px;
    display: flex;
    flex-flow:column wrap;
    justify-content: space-between;
}
.itemsContainer img
{
    width: 200px;
    height: 200px;
}
.items
{
    margin: 60px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: hsl(0, 14%, 90%);
}
.item
{
    margin: 10px;
}